.rpi-footer-menu {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    z-index: 999;
    max-height: 40px;
    margin: 0 auto;
    background-color: var(--paletteColor1) !important;
    text-align: center;
    border-top: var(--borderBottom);
}
.rpi-footer-menu ul{
    display: inline-flex;
}
.rpi-footer-menu a{
    color: var(--paletteColor8) !important;

}
.rpi-footer-menu a:hover {
    color: var(--paletteColor2) !important;

}

@media only screen and (max-width: 600px) {
    .rpi-footer-menu ul{
margin: 5px 0 !important;
    }
    .rpi-footer-menu span {
        display: none;
    }

    .mobile-menu .rpi-footer-menu span {
        display: block;
    }
}