.rpi-footer-menu {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    z-index: 999;
    max-height: 40px;
    margin: 0 auto;
    text-align: center;
    border-top: var(--borderBottom);
    background-color: var(--paletteColor1) !important;
}


.rpi-footer-menu ul {
    display: inline-flex;
    margin-top: 3px !important;
    padding: 0 !important;
}

.rpi-footer-menu a {
    padding: 0 10px !important;
    color: var(--paletteColor8) !important;
}

.rpi-footer-menu a:hover {
    color: var(--paletteColor2) !important;

}

.rpi-footer-menu.no-blocksy {
    background-color: #0072aa !important;
}

.rpi-footer-menu.no-blocksy a {
    padding: 0 !important;
    color: white !important;
}

.rpi-footer-menu.no-blocksy a:hover {
    color: red !important;
    text-decoration-line: none;
}

.rpi-footer-menu.no-blocksy span, .rpi-footer-menu.no-blocksy i {
    margin: 3px 1px !important;
}

.rpi-footer-menu.no-blocksy li {
    margin: 0 auto !important;
}

.rpi-footer-menu.no-blocksy ul {
    list-style-type: none;
    margin: 5px auto !important;
    padding: 5px 0 !important;
    width: 60%;
}


@media only screen and (max-width: 600px) {
    .rpi-footer-menu.no-blocksy ul {
        width: 100%;
    }
    .rpi-footer-menu ul {
        margin: 5px 0 !important;
    }

    .rpi-footer-menu span {
        display: none;
    }

    .mobile-menu .rpi-footer-menu span {
        display: block;
    }
}